{% load static %} 
{% include "header.html" %}
{% include "navigation.html" %}

<br/>
<br/>

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
      <h1>Devices List</h1> 
      <hr>
      <br />
      <h3>Devices</h3>
      <br />
      {% include "components/things_list.html" with lastsessions=data.lastsessions %}   
      <br/>
      {% include "components/timezone_note.html" %}
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      
    </div>
  </div>
</div>
    

{% include "footer.html" %}

<script>
function handleversionselect(){
    el1 = document.getElementById('uselatest')
    el2 = document.getElementById('appvers')
    if (el1.value == 'True'){
        el2.setAttribute('disabled', 'disabled');
    }
        
    else {
        el2.removeAttribute('disabled');
    }
      
}



</script>




