{% load static %} 
{% include "header.html" %}
{% include "navigation.html" %}

                <!-- Simple page area start -->
                <br/>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body docs">
                                
                                <h1>New Thing</h1> 
                                <hr>
                                <br />
                                
                                <p style="margin-top:10px; margin-bottom:20px">
                                <b>You can add new Things by installing PythingsOS on them or by running Simulator.</b>
                                </p>

                                <div style="text-align: center">
                                <div style="margin: 20px auto; display:inline-block; max-width:600px">


                                <p style="margin-top:0px;">To install PythingsOS on the Esp8266 and on the Esp32, you can use the self-contained installer, which allows to get you started straight away without worrying about tools, dependencies and firmwares.<br/><br/>
                                
                                You can also create a Thing simulator to immediately give Pythings a try, without any hardware. A Docker image is ready to use! To install on other platforms, you will need to perform a manual install, you can read more about it in the <a href="/documentation">documentation</a>.</p>
                                
                                <p style="margin-top:40px; text-align:center">
                                <a href="https://pythings.io/static/PythingsOS/installer/PythingsOS_v1.1.0_installer.zip"><b>Download PythingsOS installer</b></a><br/><i>or</i><br/>
                                <a href="https://hub.docker.com/r/pythings/simulator"><b>Get Docker Simulator</b></a>

                                </p>
                                    
                                </div>
                                </div>
                               
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
      
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Simple page area end -->

{% include "footer.html" %}
