{% load static %} 
{% include "header.html" %}
{% include "navigation.html" %}

                <!-- Simple page area start -->
                <br/>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body docs">

                            <br />
                            <h1>Privacy Policy</h1> 
                            <hr>
                            
                            {% include "custom/privacy_content.html" %}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Simple page area end -->

{% include "footer.html" %}





