
                <!-- Time zone note area start -->
                <br/>
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <font size='-1'>All times are shown on your account profile time zone ({{data.user.profile.timezone}}).</font>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Time zone note area end -->

